@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1491956175078-460aea0914ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1550&q=80")
      center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
}
#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgb(255, 50, 50);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#spinner {
  animation: rotate 0.56s infinite linear;
  width: 50px;
  height: 50px;
  border: 12px solid #fff;
  border-bottom: 12px solid rgb(255, 50, 50);
  border-radius: 50%;
  margin: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#box {
  width: 100vw;
  height: 100vh;
  z-index: 9;
  position: fixed;
  top: 0;
}
#box div {
  width: 16.66vw;
  height: 100%;
  display: inline-block;
}
.box1 {
  background: rgb(255, 50, 50);
}
.box2 {
  background: rgb(255, 50, 50);
  margin-left: -5px;
}
#menu {
  width: 100%;
  text-align: center;
  margin: 6vh 0px;
  display: none;
}
#menu a {
  margin: 0px 6%;
  font-size: 19px;
  color: #fff;
  text-decoration: underline;
}
#middle {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding-bottom: 10vh;
}
#middle h1 {
  color: rgb(255, 50, 50);
  font-size: 65px;
  text-decoration: underline;
}
#about {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  transform: rotate(-90deg);
  background: transparent;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 0px 0px 100px 100px;
}
#work {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  transform: rotate(90deg);
  background: transparent;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 0px 0px 100px 100px;
}
#contact {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  background: transparent;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 100px 100px 0px 0px;
}
#about:hover {
  background: rgba(255, 50, 50, 0.9);
  cursor: pointer;
}
#work:hover {
  background: rgba(255, 50, 50, 0.9);
  cursor: pointer;
}
#contact:hover {
  background: rgba(255, 50, 50, 0.9);
  cursor: pointer;
}
#middle table {
  width: 30%;
  margin: 6vh auto;
}
#middle table tr td {
  text-align: center;
}
.social {
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  margin: 0px 8px;
  text-align: center;
}
.social:hover {
  cursor: pointer;
  color: rgb(255, 50, 50);
}
.container {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  background: var(--bg-color);
  color: var(--text-color);
  z-index: 9;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  display: none;
}
.container div {
  font-size: 25px;
  margin: 20px 0px;
  transition: 0.4s ease-in-out;
}
.container div:hover {
  cursor: pointer;
}
.container section {
  margin: 8vh 0px;
}
#used div {
  font-size: 14px !important;
  display: inline-block;
  padding: 8px 10px;
  border: 2px solid #fff;
  margin: 0px 10px;
  border-radius: 50px;
}
#used:hover {
  cursor: text;
}
#used div:hover {
  cursor: text;
}
#display {
  width: 62vw;
  /* padding: 4vh 3vw; */
  height: 92vh;
  display: inline-block;
  padding-left: 2vw;
}
#works {
  margin: 0.5vh 0px;
  padding: 4vh 0px !important;
}
#forks {
  margin: 2vh 0px;
  padding: 4vh 0px !important;
}

.emoji {
  width: 18px;
  height: 18px;
}

.container h1 {
  font-size: 60px;
  text-decoration: underline;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 15px;
}
.container p {
  font-size: 21px;
}
.btn_one {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  padding: 8px 40px;
  border-radius: 80px;
  font-weight: bold;
  margin: 2vh 10px;
  transition: 0.4s ease-in-out;
}
.btn_one:hover {
  cursor: pointer;
  color: rgb(255, 50, 50);
  background: #fff;
}
.btn_two {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 50, 50);
  background: #fff;
  border: 3px solid #fff;
  padding: 8px 40px;
  border-radius: 80px;
  font-weight: bold;
  margin: 2vh 10px;
  transition: 0.4s ease-in-out;
}
.btn_two:hover {
  cursor: pointer;
  padding: 8px 60px;
}

.projects {
  margin-left: -15px;
}

.projects a {
  /* 30px is the gutter size in magic grid */
  width: calc(49%- 25px);
  /* 49% avoids a weird single column on some wide screens */
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.projects section {
  width: 100%;
  padding: 2.5vh 5%;
  margin: 1vh 0px;
  display: inline-block;
  border-radius: 5px;
  color: var(--text-color);
  border: 1px solid rgb(0, 0, 0, 0.08);
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
  transition: 0.4s ease-in-out;
  transform: scale(1);
}

.projects section:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0);
  box-shadow: 0px 15px 35px rgb(0, 0, 0, 0.06);
  transform: scale(1.03);
}

#footer {
  color: #fff;
  width: 92vw;
  padding: 5vh 4vw;
  text-align: right;
  position: fixed;
  z-index: 1;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
#footer a {
  color: rgb(255, 50, 50);
}
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
  --blog-gray-color: rgb(180, 180, 180);
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.3),
      rgb(10, 10, 10, 1)
    ),
    url("https://images.unsplash.com/photo-1553748024-d1b27fb3f960?w=1500&q=80");
  --background-background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 1),
      rgba(10, 10, 10, 0.6)
    ),
    url("https://images.unsplash.com/photo-1553748024-d1b27fb3f960?w=1500&q=80")
      center center fixed;
  --height: 50vh;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 50, 50);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 50, 50, 0.8);
}
::selection {
  color: #fff;
  background: rgb(255, 50, 50);
}

@media (max-width: 800px) {
  #about {
    display: none;
  }
  #contact {
    display: none;
  }
  #work {
    display: none;
  }
  #works {
    margin: 0px;
  }
  .projects {
    margin-left: 0;
    /* remove neg margin to align w/ header */
  }

  .projects a {
    width: 100%;
  }

  .projects section {
    width: 88%;
  }
  #display {
    width: 90vw;
    height: auto;
    display: inline-block;
  }
  #footer {
    text-align: center;
  }
  #middle {
    width: 90vw;
    padding: 0px 5vw;
  }

  #work_container {
    width: 90vw;
  }

  #middle table {
    width: 80%;
  }
  .container form input {
    width: 90%;
  }
  .container form textarea {
    width: 90%;
  }
  #menu {
    display: inline-block;
  }
  #onlywide {
    display: none !important;
  }
  .box2 {
    margin-left: 0px !important;
  }
  #box div {
    width: 100%;
  }
}

.projects section {
  background: rgb(20, 20, 20);
}

.display h1 {
  padding-left: 0px;
}
